$fondo: #f0e7e7;

$estilos: (
    1rem: 1rem,
    color: #41729F,
    justicado: justify,
);

@mixin txtmobile {
    margin-top: 1em;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-right: 10.5%;
    margin-left: 10.5%;
};

@mixin Imgtxt {
    display: block;
    width: 95vw;
    height: 60vh;
    margin-bottom: 1em;
}
